{% extends 'Info/base.html' %}

{% block content %}
    <div>
        <!--de adaugat-->
        <h2>
            Ce este agricultura sustenabila?
        </h2>
        <p>
            Agricultura sustenabila este agricultura practicata în mod sustenabil, ceea ce înseamnă să răspunda nevoilor alimentare actuale ale societății, fără a compromite capacitatea generațiilor actuale sau viitoare de a-și satisface nevoile. Dezvoltarea sistemelor alimentare sustenabile, contribuie la sustenabilitatea si santatea populației umane. Deși agricultura sustenabila și agricultura organică au elemente similare, acești doi termeni nu pot fi folosiți în mod interschimbabil.
            <br>
            <br>
            Produsele cultivate organic și animalele sunt uneori produse în ferme mari care nu sunt deloc sustenabile. Practicile organice sunt concentrate mai ales pe aspectul de randament maxim al agriculturii, precum si  modul în care culturile sunt cultivate și ce produse sunt utilizate. Fermele ecologice trebuie să fie certificate de organisme de reglementare pe baza anumitor orientări precise, care impun de multe ori conditii aberante pentru o cerificare organica !
            <br>
            <br>
            Liniile directoare sunt : culturile trebuie să fie rotite și plantate în câmpuri diferite în fiecare an pentru a reumple și menține nutrienții din sol. Culturile acoperite, care sunt culturi plantate în timpul anotimpurilor, trebuie de asemenea utilizate pentru menținerea calității solului. Agricultorii nu pot folosi îngrășăminte sintetice sau pesticide. De asemenea, nu pot folosi culturi modificate genetic, etc !
            <br>
            <br>
            De asemenea, agricultura organica NU ține cont de cantitatea de pământ utilizata pentru producerea unui anume tip de produs. Cu toate acestea, agricultura sustenabila are în vedere utilizarea terenului ca factor principal. Agricultura sustenabila include culturile care sunt cultivate pe suprafețe mai mici în care culturile multiple sunt adesea cultivate împreună. Acest amestec de culturi poate ajuta la combaterea dăunătorilor și a bolilor și la îmbunătățirea masiva a calității solului.
            <br>
            <br>
            Scopul agriculturii sustenabile este in principal de a cultiva in mod natural plantele și a crește animalele in ferme mici, fără a epuiza toate resursele naturale. Ea imbunătățește utilizarea resurselor naturale regenerabile, este responsabilă din punct de vedere economic de multe aspecte și îmbunătățește mult viața producătorilor și a consumatorilor. Agricultura sustenabila este un mod natural de viață, mai degrabă decât un set de orientări si reguli impuse, in speta de catre anumite organisme care de multe ori o fac doar in avantajul si pentru profitul lor. Nu există reguli stabilite pentru agricultura sustenabila, totul se desfasoara in mod natural, exista doar obiective mici care ajută la atingerea obiectivului principal de a permite omenirii să trăiască decent si sanatos din terenurile și resursele disponibile in natura, fără a le exploata la maxim sau distruge !
            <br>
            <br>
            Celălalt element principal care diferentiaza agricultura ecologică de cea sustenabila este distanța pe care o parcurg alimentele înainte de consum. Agricultura organica nu ține cont de cât de mult se deplasează mâncarea înainte de a ajunge la farfuria ta. În agricultura ecologică, utilizarea combustibililor fosili nu contează. De aici rezultand si preturile de vanzare mari pentru produsele organice. Cu toate acestea, agricultura sustenabila încearcă să reducă considerabil utilizarea combustibililor fosili, astfel încât să se concentreze foarte mult pe producerea mărfurilor și distribuirea lor pe cat posibil la nivel local. Acest lucru ajută la reducerea costurilor finale, atât din punct de vedere economic, cât și din punct de vedere al mediului și contribuie la sporirea înțelegerii consumatorilor despre locul din care provin alimentele lor.
        </p>
    </div>
{% endblock %}