{% extends 'Info/base.html' %}

{% block content %}

    <div class=cent>
        <!--Text de bun venit pe site-->
        <h2>
            Bun venit pe Cartea Verde
        </h2>
        <p>
            Aici puteti gasi cum sa va faceti propria dumneavoastra ferma sau sa vedeti exact cum functioneaza agricultura sustenabila. De asemenea, puteti sa cumparati produse special facute in acest tip de ferme sau sa va conectati cu alti fermieri si sa discutati cu acestia.
        </p>
    </div>
{% endblock %}