{% extends 'Info/base.html' %}

{% block content %}
    <div>
        <!--++-->
        <h2>
            Terenul
        </h2>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.slidesharecdn.com%2Fromaniasiagriculturadurabila-febr252011bucro-110304103944-phpapp01%2F95%2Fromania-si-agricultura-durabila-7-728.jpg%3Fcb%3D1299235490&f=1&nofb=1">
        <p>
            Terenul este foarte important fiecare zona a romaniei avand un nivel diferit de fertilitate deci trebuie luat in considerare unde se vor cultiva plantele sau creste animalele.
        </p>
    </div>
{% endblock %}